<div class = "container">
	<div class = "col-xs-8" style = "padding-right:0px;">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" class="active"></li>
		    
		    <% @albums.each do |i| %>
		    	<li data-target="#myCarousel"></li>
		    <% end %>
		  </ol>


		  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <!-- 나중에 이미지 대신 DB 넣어줄 곳-->
				    <div id = "center">
				    	<%= image_tag @club.picture.url if @club.picture? %>
				    </div>
			    </div>
			
			<% @albums.each do |i| %>
			    <div class = "item">
			    	<div id = "center">
						<%= image_tag i.image_url :size => "780x500"  %>
					</div>
				</div>
			<% end %>
		  </div>


		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>

	<div class = "col-xs-4" style = "padding-left:0px;">
		<div id = "myCarousel">
			<div class = "col-lg-12" style = "padding-left: 0px; padding-right: 0px;">
				<div class="list-group">
					<div class="list-group-item" id ="club_view_bottom_box">
						<table class="table">
						    <thead>
						      <tr>
						        <th id = "club_name_th"><font size = "11"><%= @club.name %></font> <br> <font size = "5"> <%= @club.category %> 동아리 </font> 
							        
							        <% if (user_admin?) %>
							        	<br>
										<a href = "/clubs/edit/<%= @club.id %>" class = "btn btn-primary" > 수정 </a>
										<a href = "/clubs/delete/<%= @club.id %>" data-confirm="Are you sure?" class = "btn btn-default" > 삭제 </a>
										<% if user_admin? %>
											<% if @club.permit == true %>
												<%= link_to "동아리 포스팅 취소", club_permit_club_path(:id => @club.id) %>
											<% else %>
												<%= link_to "동아리 포스팅 허가", club_permit_club_path(:id => @club.id) %>
											<% end %>
										<% end %>
									<% end %>

								</th>
						        <th id = "favorite_th"><%= render 'follow_form'  %></th>
						      </tr>
						    </thead>
						</table>

						<tr class = "col-lg-12">
							<ul class = "list-group">
							  <li class="list-group-item">
							  <span class="glyphicon glyphicon-map-marker"> 위치  <%= @club.location %> </span>
							  </li>

							  <li class="list-group-item"> <span class = "glyphicon glyphicon-user"> 인원  <%= @club.personnel %> </span> </li> 

							  <li class="list-group-item"> <span class = "glyphicon glyphicon-phone"> 연락처 <%= @club.phone %> </span> </li>
							</ul>
						</tr>

						<tr class = "col-lg-12">
							<ul class="nav nav-tabs">
							  <li class="active">
								  <a href="#home" data-toggle="tab" aria-expanded="true">
								 	<span class="glyphicon glyphicon-info-sign"> 소개</span>
								  </a>
							  </li>
							  <li class="">
								  <a href="#profile" data-toggle="tab" aria-expanded="false">
								  	<span class = "glyphicon glyphicon-list-alt"> 이력</span>
								  </a>
							  </li>
							</ul>
							<div id="myTabContent" class="tab-content">
							  <div class="tab-pane fade active in" id="home">
							    <div class = "container"><%= @club.intro %></div>
							  </div>
							  <div class="tab-pane fade" id="profile">
							    <div class = "container"><%= @club.history %></div>
							  </div>
							</div>
							<br>				
						</tr>

					</div>
				</div>
		
			</div>
		</div>
	</div>


	<div class = "col-xs-8">
	</div>		

	<div class = "col-xs-4">
	</div>

</div>