<div class = "jumbotron" id = "sign_up">
  <h3>"세종대동아리" 회원가입</h3>
  <hr>
  <div class="form-horizontal">
    <div class="col-xs-12">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class = "form-group">
        <%= f.label :name, "이름", class: "col-xs-4 control-label" %>
          <div class = "col-xs-8">
          <%= f.text_field :name, class: 'form-control', placeholder: "홍길동" %>
          </div>
        </div>

        <div class = "form-group">
        <%= f.label :email, "이메일(ID)", class: "col-xs-4 control-label" %>
          <div class = "col-xs-8">
          <%= f.email_field :email, class: 'form-control', placeholder: "홍길동@example.com" %>
          </div>
        </div>

        <div class = "form-group">
        <%= f.label :password, "비밀번호", class: "col-xs-4 control-label" %>
          <div class = "col-xs-8">
          <%= f.password_field :password, class: 'form-control', placeholder: "비밀번호 최소 6개" %>
          </div>
        </div>

        <div class = "form-group">
        <%= f.label :password_confirmation, "비밀번호 확인", class: "col-xs-4 control-label" %>
          <div class = "col-xs-8">
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "비밀번호 확인" %>
          </div>
        </div>

        <br>
        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

</div>