<!DOCTYPE html>
<html>
  <head>
    <title>세종대동아리</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= render 'static_page/header' %>
    <div class="container" id="static_page_body">
      <%= yield %>
    </div>
    <%= render 'static_page/footer' %>
  </body>
</html>